// 1. IMPORTS
@import 'nib'
@import '../lib/normalize'
@import '../lib/augmentations'
@import '../lib/mixins.styl'
@import '../lib/variables.styl'

@keyframes blink
    0%
        opacity: 0
        transform: scale(10)
    100%
        opacity: 1
        transform: scale(1)

*
    box-sizing: border-box
    webkit-reset()

h3
    font-size: font-base
    margin: 0 0 5px

input[type='text'],
textarea
    width: 100%
    appearance: none
    border-radius: radius-base
    border: 1px solid #000
    height: 70px
    line-height: 20px
    padding: 5 10px

input[type='text']
    height: 40px
    padding: 0 10px

.submit-bar
    padding: 10px
    background: black
    overflow: hidden
    height: 60px
    position: fixed
    top: 0
    left: 0
    width: 100%

.button-status
    float:left
    width: 40px
    height: 40px
    text-align: center
    line-height: 40px
    font-size: font-base + 8

.button
    display: inline-block
    height: 40px
    border: none
    color: #000
    text-decoration: none
    font-size: font-base
    font-weight: bold
    position: relative
    border-radius: radius-base
    background: #fff
    position: absolute
    top: 10px
    bottom: 40px
    left: 10px
    right: 10px
    text-align: center
    line-height: 40px

.input-groups
    padding: 20px 10px 0
    margin-top: 60px

.input-group
    margin-bottom: 20px

.dropdown-group
    position: relative

    .dropdown-button
        display: block
        border: 1px solid #000
        border-radius: radius-base
        height: 40px
        line-height: 40px
        padding: 0 10px

    .icon-drop
        width: 20px
        height: 20px
        background: #fff
        border-radius: 99px
        position: absolute
        text-align: center
        line-height: 20px
        top: 10px
        right: 10px
        font-style: normal
        transition: all 0.2s ease-in

    &.activated
        box-shadow: 0 0 8px rgba(0, 0, 0, .5)

        .icon-drop
            background: #000
            transform: rotate(180deg)
            color: #fff

        .dropdown-button
            border-radius: bottom 0

    .dropdown-list
        ul
            margin: 0
            padding: 0
            list-style: none
            border: 1px solid #000
            border-top: 0
            border-radius: bottom radius-base
            transition: height 1s ease-in
            clear: both

        li
            margin: 0

        a
            display: block
            padding: 5px 10px
            text-decoration: none
            color: #000

    .list-item
        &.activated .icon-check
            animation: blink 0.2s linear

        .icon-check
            float: right
            width: 20px
            height: 20px
            text-align: center
            line-height: 20px

.inputdropdown-group

    input
        border-radius: bottom 0

    .dropdown-button
        border-top: 0
        border-radius: top 0

