mixin submit-bar(elementId, elementText)
    .submit-bar(id=elementId)
        .page-status ✔
        a.button(href='#')= elementText

mixin dropdown-single
    .dropdown-group
        a.dropdown-button Elysium
        .dropdown-list.hidden
            ul
                li
                    a(href='#') Torus
                li
                    a(href='#') Torus
                li
                    a(href='#') Torus
                li
                    a(href='#') Torus
