mixin submit-bar(elementId, elementText)
    .submit-bar(id=elementId)
        a.close-page(href='#') ×
        a.submit-button(href='#')= elementText

mixin dropdown-single(text)
    .dropdown-group
        a.dropdown-button(href='#')
            i.icon-drop ▾
            .button-label= text
        .dropdown-list.hidden
            ul
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label My Room
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Baccarat Restaurant
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Beach Area
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Bella Napoli Pizzaria
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Crystal Room Restaurant
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Entrance/Lobby
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label General Resort Comment
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Gordon's Restaurant
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Jacuzzi Area
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Kimonos Restaurant
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Pool Area
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Ristorante Casanova
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Royal Café
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Spices Restaurant
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label Stewfish
                li
                    a.list-item(href='#')
                        i.icon-check.hidden ✔
                        span.item-label The Cricketer's Pub
            a.close-list(href='#') Cancel
