extends _layout

include _mixins

block append stylesheets
    != css('hotel-flow/style')

block content

    #landing-page.page
        a.logo(href='#')
            img(src='logo.png' width='75' height='64')
        // TODO: shake logo when tapped on (since it doesn’t do anything)

        p Using Loop™ you can have our stuff fulfill a request for you. Or you can let us know how we’ve been doing.

        ul.customer-actions
            li
                a.goto-request(href='#') Create a request
            li
                a.goto-compliment(href='#') Give a compliment
            li
                a.goto-complaint(href='#') File a complaint

    #request-page.page.hidden
        mixin submit-bar('submit-request', 'Send request')

        .input-groups
            .input-group.question
                h3 How can we help?

                textarea

            .input-group.contact
                h3 Where can we reach you?

                .inputdropdown-group
                    input(type='text', placeholder="Room number")
                    mixin dropdown-single

    #compliment-page.page.hidden
        mixin submit-bar('submit-request', 'Send compliment')

        .input-groups
            .input-group.question
                h3 What’s on your mind?

                textarea

            .input-group.contact
                h3 Is there a location relevant to your comment?

                .inputdropdown-group
                    input(type='text', placeholder="Room number")
                    mixin dropdown-single

    #complaint-page.page.hidden
        mixin submit-bar('submit-request', 'Send complaint')

        .input-groups
            .input-group.question
                h3 What’s on your mind?

                textarea

            .input-group.contact
                h3 Is there a location relevant to your comment?

                .inputdropdown-group
                    input(type='text', placeholder="Room number")
                    mixin dropdown-single
