!!! 5
html
    head
        meta(charset='utf-8')
        title #{title} - #{settings.name}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        != css('style')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    body
        block content
        != js('script')
